:root {
  // global colors
  --bg-1: #0c0c0c;
  --bg-2: #360d00;
  --blur-1: rgba(255, 116, 74, 0.5);
  --white: #fff;

  --primary: #fe7f5a;
  
  // global colors end

  //font-weight;
  --fw-2: 200;
  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --fw-8: 800;
  //font-weight end;

  --gray: #738693: 
}
